<div class="jumbotron">
	<div class="container">
		<h1 id="Title1" style="">Welcome to my place</h1>
		<a href="http://google.com" target="_blank" class="btn btn-primary"> <span class="glyphicon glyphicon-apple" style="color: white"></span> Google</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
			  <h2>Some Great Art <small>Fancy Pokémon</small></h2>
			</div>
			<img src="http://i.imgur.com/9K3njAS.png" class="img-responsive">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
			<h2 style="display: inline;">What's new? <span class="label label-default">New</span> </h2>
			</div>
			<img src="http://img01.deviantart.net/7537/i/2013/186/0/b/pokemon_x_y_starters_vector_by_firedragonmatty-d6c4q7z.png" class="img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
			<h2>A great place to start!</h2>
			</div>
			<img src="http://img15.deviantart.net/9b58/i/2013/275/7/4/mega_charizard_x_and_y___pokemon_x_y_vector_by_firedragonmatty-d6oxgpo.png" class="img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>

	</div>
</div>